github "CocoaLumberjack/CocoaLumberjack" ~> 3.5.2
github "vantientu1703/MMDB-Swift" "0.1.0"
#github "vantientu1703/Sodium-framework" "0.1.0"
#github "behrang/YamlSwift" "3.0.0"
github "zhuhaow/tun2socks" ~> 0.7.0
github "zhuhaow/Resolver" ~> 0.2.0
